In [26]:
import pandas as pd
my_dataset = pd.read_csv("ExamenFinal.csv",sep=",")
my_dataset = my_dataset.drop(['FECHA_NACIMIENTO','GENERO','ESTADO_CIVIL','NUMERO_HIJOS','PROFESION','NIVEL_ESTUDIO','OCUPACION','SERVICIO','KILOMETRAJE_INSTALACION','FECHA_LICENCIA','RELACION_ASEGURADO','COLOR','CIUDAD','MARCA','CLASE','TIPO'],axis=1)

In [27]:
my_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 39 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             602 non-null    int64
 1   Edad                           602 non-null    float64
 2   TIEMPO_PROPIETARIO             602 non-null    int64
 3   Edad Licencia                  602 non-null    float64
 4   CILINDRAJE                     602 non-null    int64
 5   Min(Recorrido (Km))            602 non-null    int64
 6   Min(Frenadas (Uni))            602 non-null    int64
 7   Min(Arrancadas (Uni))          602 non-null    int64
 8   Min(Aceleraciones (Uni))       602 non-null    int64
 9   Min(Exceso Velocidad (Min))    602 non-null    int64
 10  Min(Maxima Velocidad (Km/h))   602 non-null    float64
 11  Min(Tiempo Uso (Min))          602 non-null    int64
 12  Min(Uso Zona (Min))            602 non-null    int64
 13  Min(Fuera Zona (Min))          602 non-null    int64
 14  Min(Colision)                  602 non-null    int64
 15  Max(Recorrido (Km))            602 non-null    int64
 16  Max(Frenadas (Uni))            602 non-null    int64
 17  Max(Arrancadas (Uni))          602 non-null    int64
 18  Max(Aceleraciones (Uni))       602 non-null    int64
 19  Max(Exceso Velocidad (Min))    602 non-null    int64
 20  Max(Maxima Velocidad (Km/h))   602 non-null    float64
 21  Max(Tiempo Uso (Min))          602 non-null    int64
 22  Max(Uso Zona (Min))            602 non-null    int64
 23  Max(Fuera Zona (Min))          602 non-null    int64
 24  Max(Colision)                  602 non-null    int64
 25  Mean(Recorrido (Km))           602 non-null    float64
 26  Mean(Frenadas (Uni))           602 non-null    float64
 27  Mean(Arrancadas (Uni))         602 non-null    float64
 28  Mean(Aceleraciones (Uni))      602 non-null    float64
 29  Mean(Exceso Velocidad (Min))   602 non-null    float64
 30  Mean(Maxima Velocidad (Km/h))  602 non-null    float64
 31  Mean(Tiempo Uso (Min))         602 non-null    float64
 32  Mean(Uso Zona (Min))           602 non-null    float64
 33  Mean(Fuera Zona (Min))         602 non-null    float64
 34  Mean(Colision)                 602 non-null    float64
 35  MODELO                         602 non-null    int64
 36  SINIESTROS_2016                602 non-null    int64
 37  SINIESTROS_2017                602 non-null    int64
 38  SINIESTROS_2018                602 non-null    int64
dtypes: float64(14), int64(25)
memory usage: 183.5 KB

In [29]:
my_dataset.fillna(0)

,id,Edad,TIEMPO_PROPIETARIO,Edad Licencia,CILINDRAJE,Min(Recorrido (Km)),Min(Frenadas (Uni)),Min(Arrancadas (Uni)),Min(Aceleraciones (Uni)),Min(Exceso Velocidad (Min)),...,Mean(Exceso Velocidad (Min)),Mean(Maxima Velocidad (Km/h)),Mean(Tiempo Uso (Min)),Mean(Uso Zona (Min)),Mean(Fuera Zona (Min)),Mean(Colision),MODELO,SINIESTROS_2016,SINIESTROS_2017,SINIESTROS_2018
0,43665400,72.38,5,55.18,2300,1,0,0,0,0,...,0.00,0.00,21.20,21.20,0.00,0.00,1987,0,0,0
1,60342217,35.93,7,9.15,1300,1,0,0,0,0,...,0.02,1.94,28.09,0.00,28.09,0.00,1992,0,0,0
2,16205257,81.04,10,61.55,2500,1,0,0,0,0,...,0.00,0.00,21.01,7.66,13.36,0.00,1998,0,0,0
3,42188664,38.46,5,11.10,2500,0,0,0,0,0,...,0.20,9.17,22.65,21.31,1.34,0.01,2003,0,0,0
4,93966068,70.30,6,37.19,2000,1,0,0,0,0,...,0.13,1.75,22.62,7.47,15.15,0.00,2003,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,86038652,56.09,4,13.85,1200,0,0,0,0,0,...,0.13,4.71,22.56,19.59,2.97,0.01,2006,0,1,0
598,80355353,48.42,9,25.42,2000,1,0,0,0,0,...,0.03,3.94,17.90,14.31,3.59,0.00,1999,0,0,1
599,43184833,46.10,2,7.65,1300,1,0,0,0,0,...,0.00,0.00,23.04,22.91,0.13,0.00,2002,0,0,0
600,80786094,53.38,2,25.44,2500,0,0,0,0,0,...,0.00,0.00,11.97,0.05,11.92,0.01,2007,0,1,0
601,87568396,34.67,12,13.67,2500,1,0,0,0,0,...,0.00,0.00,15.91,13.19,2.72,0.00,1992,0,0,0

#### Búsqueda de cantidad óptima de clusters

In [ ]:
wcss = []
for i in range (1,11):
    kmeans = KMeans(n_clusters = i, max_iter = 300)
    kmeans.fit(my_dataset)
    wcss.append(kmeans.inertia_)